<div class="flex">
  <div class="child">
    <h2>SimpleLink (Router.isActive)</h2>
    <SimpleLink
      @routeName="index"
      @queryParams={{hash sort="quantity"}}
      @testSelector="sort-quantity"
    >
      Sort=Quantity no Filter
    </SimpleLink>
    <SimpleLink
      @routeName="index"
      @queryParams={{hash sort="date"}}
      @testSelector="sort-date"
    >
      Sort=Date no Filter
    </SimpleLink>
    <SimpleLink
      @routeName="index"
      @queryParams={{hash sort="quantity" filter="value:gte=3"}}
      @testSelector="sort-quantity-filter-default"
    >
      Sort=Quantity Filter=value:gte=3
    </SimpleLink>
    <SimpleLink
      @routeName="index"
      @queryParams={{hash sort="date" filter="value:gte=3"}}
      @testSelector="sort-date-filter-default"
    >
      Sort=Date Filter=value:gte=3
    </SimpleLink>
    <SimpleLink
      @routeName="index"
      @queryParams={{hash sort="date" filter="somethingelse"}}
      @testSelector="sort-date-filter-different"
    >
      Sort=Date Filter=somethingelse
    </SimpleLink>
  </div>

  <div class="child">
    <h2>Link To</h2>
    {{#link-to
      "index"
      (query-params sort="quantity")
      class="btn"
      data-test-link-to="sort-quantity"
    }}
      Sort=Quantity no Filter
    {{/link-to}}
    {{#link-to
      "index"
      (query-params sort="date")
      class="btn"
      data-test-link-to="sort-date"
    }}
      Sort=Date no Filter
    {{/link-to}}
    {{#link-to
      "index"
      (query-params sort="quantity" filter="value:gte=3")
      class="btn"
      data-test-link-to="sort-quantity-filter-default"
    }}
      Sort=Quantity Filter=value:gte=3
    {{/link-to}}
    {{#link-to
      "index"
      (query-params sort="date" filter="value:gte=3")
      class="btn"
      data-test-link-to="sort-date-filter-default"
    }}
      Sort=Date Filter=value:gte=3
    {{/link-to}}
    {{#link-to
      "index"
      (query-params sort="date" filter="somethingelse")
      class="btn"
      data-test-link-to="sort-date-filter-different"
    }}
      Sort=Date Filter=somethingelse
    {{/link-to}}
  </div>
</div>
